.btn:hover {
  opacity: 0.6;
  transition: .2s;
}

.top__header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  background-color: #fff;
  z-index: 1;
}

.header__img {
  width: 70px;
}

.header__img img {
  width: 100%;
}

.nav__list {
  display: flex;
}

.nav__list__item:not(last-of-type) {
  margin-right: 35px;
}

.nav__list__item {
  font-size: 15px;
  font-weight: bold;
}

.nav__list__item a {
  color: #000;
  text-decoration: none;
}

/* - - ここからナビゲーションドロワー - - -　*/

a{
  text-decoration: none;
  color: blue
}
.nav{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}
.nav ul{
  padding-top: 80px;
}
.nav ul li{
  list-style-type: none;
  margin-top: 50px;
}

.nav ul li:hover {
  opacity: .6;
  transition: .2;
}

.menu {
  display: none;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 20px;
  z-index: 2;
  margin-bottom: 35px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}

/* - - ここまでナビゲーションドロワー - - - */

.catch__wrappar {
  color: #fff;
}

.catch__top {
  height: 90vh;
  background: url(../img/mv.png) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.catch__top__box {
  text-align: center;
}

.catch__top__ttl {
  font-size: 50px;
}

.catch__top__text {
  font-size: 17px;
  font-weight: bold;
  padding-top: 20px;
}

.catch__bottom {
  background-color: #000;
  padding: 80px 100px;
}

.catch__bottom__ttl {
  font-size: 30px;
  margin-bottom: 20px;
}

.catch__bottom__text {
  line-height: 1.5;
}

.service__wrappar {
  margin: 50px;
}

.service__ttl {
  text-align: center;
  font-size: 30px;
  padding-bottom: 25px;
}

.service__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.service__item {
  width: 45%;
  margin-left: 30px;
}

.service__img {
  width: 100%;
}

.service__img img {
  width: 100%;
}

.service__item__ttl {
  font-size: 20px;
  padding: 10px 0;
}

.service__item__text {
  padding-bottom: 25px;
  line-height: 1.5;
}

.service__button {
  color: #fff;
  display: block;
  text-decoration: none;
  background-color: red;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto;
}


.news__wrappar {
  background-color: #000;
  padding: 60px;
}

.news__flex {
  display: flex;
  justify-content: space-between;
}

.news__ttl {
  color: #fff;
  font-size: 30px;
}

.news__button {
  color: #fff;
  text-decoration: none;
  background-color: red;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.news__ttl, .news__button {
  margin-bottom: 25px;
  display: inline-block;
}

.news__item:not(first-of-type) {
  margin-bottom: 15px;
}

.news__item__bg {
  background-color: #fff;
  padding: 15px;
}

.news__item__bg:hover {
  background-color: rgb(182, 182, 182);
  transition: .5s;
}

.news__date {
  display: inline-block;
}

.news__text {
  display: inline-block;
  font-weight: bold;
}


.blog__wrappar {
  margin: 50px;
}

.blog__ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.blogs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;
}

.blog__item {
  width: 30%;
}

.blog__item:hover {
  opacity: .6;
  transition: .2s;
}

.blog__item a {
  text-decoration: none;
  color: #000;
}

.blog__item:not(last-of-type) {
  margin-right: 20px;
}

.blog__img {
  width: 100%;
}

.blog__img img {
  width: 100%;
}

.blog__date {
  font-size: 14px;
  padding: 10px 0;
}

.blog__item__ttl {
  font-size: 18px;
}

.blog__button {
  color: #fff;
  display: block;
  text-decoration: none;
  background-color: red;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto;
}


.recruit__wrappar {
  display: flex;
}

.recruit-red {
  width: 50%;
  background-color: red;
}

.recruit-black {
  width: 50%;
  background-color: #000;
}

.recruit-red, .recruit-black {
  padding: 100px 0;
}

.recruit__ttl {
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.recruit-red:hover, .recruit-black:hover {
  opacity: 0.6;
  transition: .2s;
}


.contact__wrappar {
  background-color: #eee;
  padding: 80px 0;
  margin-top: 70px;
}

.contact__ttl {
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.contact__text {
  text-align: center;
  padding-bottom: 30px;
}

.contact__button {
  color: #fff;
  display: block;
  text-decoration: none;
  background-color: red;
  width: 240px;
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto;
}


footer {
  background-color: #000;
  color: #fff;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  font-size: 13px;
}

.footer__nav {
  list-style: none;
  display: flex;
}

.footer__nav__item {
  padding: 0 13px;
  font-size: 13px;
}

.footer__nav__item:hover {
  opacity: 0.6;
  transition: .2s;
}

.footer__nav__item:not(last-of-type) {
  border-right: 1px solid #fff;
}

.footer__nav__item a {
  text-decoration: none;
  color: #fff;
}



@media  screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
  
  .menu {
    display: inline-block;
  }

  .service__items {
  display: flex;
  flex-direction: column;
}

.service__item {
  width: 100%;
  margin:  0 auto;
}

.blogs__list {
  display: flex;
  flex-direction: column;
}

.blog__item {
  width: 100%;
  padding-top: 15px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.footer__nav__item {
  padding: 8px 0;
  font-size: 13px;
  text-align: center;
  border-right: none;
}

.footer__nav__item:not(last-of-type) {
  border-right: none;
}

}